/* Start Body */
body {
    background-color: light grey;
    color: maroon;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    font-size: 36px;
}

.tes {
    background-color: lightgrey;
}

/* End Body */

/* Start Debug */
.bg-blue {
    background-color: lightgray
}
/* End Debug */

/* 